# Django Settings
DJANGO_SECRET_KEY=your-production-secret-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,*.up.railway.app

# MongoDB Atlas Integration
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DB_NAME=nitin_hospital

# Frontend URL
CORS_ALLOWED_ORIGINS=https://nitinhospitalmanagementsystem.netlify.app

# Application Config
LOW_STOCK_THRESHOLD=10
EXPIRY_ALERT_DAYS=90
INVOICE_PREFIX=NB
